
<ion-header>
  <ion-toolbar>
    <ion-title>
      <p>Inclouded Lavinia</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size-lg="4" size-md="4" size="6">
        <ion-card>
          <ion-card-content>
            <p>Napló</p>
            <img src="assets/icon/book.png" alt="*">
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-lg="4" size-md="4" size="6">
        <ion-card>
          <ion-card-content>
            <p>Alapadatok</p>
            <img src="assets/icon/completed-task.png" alt="*">
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-lg="4" size-md="4" size="6">
        <ion-card class="notyet">
          <ion-card-content>
            <p>Mérések</p>
            <img src="assets/icon/speedometer.png" alt="*">
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-lg="4" size-md="4" size="6">
        <ion-card class="notyet">
          <ion-card-content>
            <p>Értékelés</p>
            <img src="assets/icon/pie-graph.png" alt="*">
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-lg="4" size-md="4" size="6">
        <ion-card class="notyet">
          <ion-card-content>
            <p>Fogyó társ</p>
            <img src="assets/icon/fitness.png" alt="*">
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-lg="4" size-md="4" size="6">
        <ion-card>
          <ion-card-content>
            <p>Beállítások</p>
            <img src="assets/icon/gear.png" alt="*">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!--
<ion-content>

   <ion-grid>
   <ion-row>
       <ion-col size-lg="2" size-md="3" size="6">
           <p>Napló</p>
           <img src="assets/icon/book.png" alt="*">
       </ion-col>
       <ion-col size-lg="2" size-md="3" size="6">
           <p>Alapadatok</p>
           <img src="assets/icon/completed-task.png" alt="*">
       </ion-col>
       <ion-col size-lg="2" size-md="3" size="6">
           <p>Mérések</p>
           <img src="assets/icon/speedometer.png" alt="*">
       </ion-col>
       <ion-col size-lg="2" size-md="3" size="6">
           <p>Értékelés</p>
           <img src="assets/icon/pie-graph.png" alt="*">
       </ion-col>
       <ion-col size-lg="2" size-md="3" size="6">
           <p>Fogyó társ</p>
           <img src="assets/icon/fitness.png" alt="*">
       </ion-col>
       <ion-col size-lg="2" size-md="3" size="6">
           <p>Beállítások</p>
           <img src="assets/icon/gear.png" alt="*">
       </ion-col>
   </ion-row>
</ion-grid>
</ion-content>
-->
